/* HEADER */

.header {
    top: 0;
    width: 100%;
    background-color: #7F9273;
}
.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 40px;
}

.the-daily-purr-logo {
    width: 275px;
    height: auto;
}

/* NAVIGATION */
.nav-menu {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
}

.nav-menu a {
    text-decoration: none;
    color: #43302e;
    font-weight: bold;
    font-size: 18px;
}

.nav-menu a:hover {
    color: white;
}

/* FOOTER */

.footer {
    width: 100%;
    background-color: #4A3028;
    color: white;
    padding: 40px;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    gap: 75px;;
}

.footer-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.newsletter-signup {
    flex:2;
}

.newsletter-signup input {
    padding: 8px;
}

.newsletter-signup button {
    padding: 8px 15px;
}

.banner {
    margin-top: 10px;
}

.hours-of-operation {
    flex: 1;
}

.store-address {
    flex:1;
}

.footer h3 {
    margin-top: 0;
}

.footer p {
    margin: 8px 0;
}

/* Tablet */
@media (max-width: 900px) {

    .footer {
        gap: 30px;
    }
}


/* Mobile */
@media (max-width: 600px) {

    .nav-menu {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
        padding: 20px;
    }
}