

.criteria {
    font-style: italic;
    margin-bottom: 20px;
}


.register-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}





/* DATE / TIME / PRICE GRID */

.date {
    grid-area: date;
}


.time {
    grid-area: time;
}


.price {
    grid-area: price;
    justify-self: right;
}


.date-time-price {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
        'date date'
        'time price';
    justify-content: space-between;
    gap: 10px;
    color: white;
    background-color: #b95a0a;
    font-weight: 600;
    margin: 10px 0;
    padding: 6px 12px;
}


/* REGISTRATION FORM GRID */

.first-name-item {
    grid-area: firstName;
}


.last-name-item {
    grid-area: lastName;
}


.email-item {
    grid-area: email;
}


.number-of-guests-item {
    grid-area: numGuests;
}


.cancel-register-button {
    grid-area: cancel;
}


.submit-register-button {
    grid-area: submit;
}


.register-form-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'firstName firstName'
        'lastName lastName'
        'email email'
        'phoneNumber phoneNumber'
        'numGuests numGuests'
        'cancel submit';
    gap: 10px;
}


/** MEDIA QUERIES **/


/* 380-479 */

@media screen and (min-width: 380px) {
    .date-time-price {
        grid-template-areas:
            'date date'
            'time price';
    }
}


/* 480-767 */

@media screen and (min-width: 480px) {
    .date-time-price {
        grid-template-areas: 'date time price';
    }

    .register-form-grid {
        grid-template-columns: 3fr repeat(2, 1fr);
        grid-template-areas:
            'firstName lastName lastName'
            'email email numGuests'
            '. cancel submit';
    }
}


/* 768-1024 */

@media screen and (min-width: 768px) {
    .event-card-container,
    .cat-card-container,
    .menu-card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .date-time-price {
        grid-template-areas:
            'date time'
            'price price';
    }

    .register-form-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'firstName firstName'
            'lastName lastName'
            'email email'
            'numGuests numGuests'
            'cancel submit';
    }
}


/* 1024-1199 */

@media screen and (min-width: 1024px) {
    .register-form-grid {
        grid-template-columns: 3fr repeat(2, 1fr);
        grid-template-areas:
            'firstName lastName lastName'
            'email email numGuests'
            '. cancel submit';
    }
}


/* 1200-1365 */

@media screen and (min-width: 1200px) {
    .date-time-price {
        grid-template-areas: 'date time price';
    }
}


/* 1366-1599 */

@media screen and (min-width: 1366px) {
    .event-card-container,
    .cat-card-container,
    .menu-card-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .date-time-price {
        grid-template-areas:
            'date time'
            'price price';
    }

    .register-form-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'firstName firstName'
            'lastName lastName'
            'email email'
            'numGuests numGuests'
            'cancel submit';
    }
}


/* 1600+ */

@media screen and (min-width: 1600px) {
    .register-form-grid {
        grid-template-columns: 3fr repeat(2, 1fr);
        grid-template-areas:
            'firstName lastName lastName'
            'email email numGuests'
            '. cancel submit';
    }
}

