/* EVENT REGISTRATION FORM  */

        .register-button-container {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
        }

        .registration-button-container button {
            flex: 1;
        }



        .register-form-grid .cancel-register-button {
            grid-area: cancel;
        }


        .register-form-grid .submit-register-button {
            grid-area: submit;
        }



        .registration-form-wrapper {
            background-color: pink;
            color: #263238;
            margin-top: 20px;
            padding: 30px;
  
        }

        .register-form-grid input {
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
        }

        .registration-button-container {
            display: flex;
            gap: 10px;
        }

        .registration-button-container button {
            flex: 1;
        }


        .adoption-form-button-container {
            text-align: center;
            margin-top: 40px;
            margin-bottom: 30px;
        }

        #adoption-form-button,
        #submit-volunteer-request {
            background-color: #C66311;
            color: white;
            font-size: 18px;
            padding: 12px 24px;
        }

        #adoption-form-button:hover {
            background-color: #632d04;
        }

@keyframes popIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.success-message {
    background-color: #7F9273;
    color: #4A3028;
    padding: 15px 20px;
    border-radius: 8px;
    animation: popIn 0.4s ease;
}