/* EVENT REGISTRATION FORM  */

        .register-button-container {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
        }

        .registration-button-container button {
            flex: 1;
        }



        .register-form-grid .cancel-register-button {
            grid-area: cancel;
        }


        .register-form-grid .submit-register-button {
            grid-area: submit;
        }



        .registration-form-wrapper {
            background-color: #f7f2e9;
            color: #263238;
            margin-top: 20px;
            padding: 30px;
            border-radius: 10px;
        }

        .register-form-grid input {
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
        }

        .registration-button-container {
            display: flex;
            gap: 10px;
        }

        .registration-button-container button {
            flex: 1;
        }