@import url('./components/layout/layout.css');
@import url('./components/pages/pages.css');
@import url('./forms/forms.css');

* {
    box-sizing: border-box;
}
 html, body {
    margin: 0;
    padding: 0;
 }
