@import url('./components/layout/layout.css');
@import url('./components/pages/pages.css');
@import url('./forms/forms.css');


* {
    box-sizing: border-box;
}

 html, 
 body {
    margin: 0;
    padding: 0;
 }

main {
    padding: 0 20px;
}

h1,
h2,
h3 {
    font-family: "DM Serif Display", serif;
}


body,
button,
p {
    font-family: "DM Sans", sans-serif;
}